.Widgets .card {
  min-height: 100px;
  margin-bottom: 10px;
}
.Widgets .card .card-container {
  box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .Widgets .card .card-container {
    flex-direction: row;
  }
}
.Widgets .card .card-container .card-icon {
  padding: 15px 0;
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .Widgets .card .card-container .card-icon {
    padding: 0;
    border-radius: 4px 0 0 4px;
    width: 125px;
    height: 100%;
  }
}
.Widgets .card .card-container .card-icon.new-orders {
  background-color: #30a5ff;
}
.Widgets .card .card-container .card-icon.comments {
  background-color: #ffb53e;
}
.Widgets .card .card-container .card-icon.comments > i {
  transform: scale(1.1, 1.2);
}
.Widgets .card .card-container .card-icon.new-users {
  background-color: #1ebfae;
}
.Widgets .card .card-container .card-icon.page-views {
  background-color: #f9243f;
}
.Widgets .card .card-container .card-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .Widgets .card .card-container .card-data {
    align-items: flex-start;
  }
}
.Widgets .card .card-container .card-data .card-data-value {
  line-height: 0.8;
  font-size: 25px;
  font-size: 30px;
  transition: 0.5s;
  color: #5f6468;
}
.Widgets .card .card-container .card-data .card-data-title {
  color: #9fadbb;
}
.Chart {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px 0;
  min-height: 475px;
  box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}
.Chart .chart-title {
  padding: 0 0 15px 15px;
  color: #5f6468;
  font-weight: normal;
  border-bottom: 2px solid #f1f4f7;
}
.Chat {
  max-width: 1050px;
  background-color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
}
.Chat .chat-title {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #5f6468;
  font-weight: normal;
  border-bottom: 2px solid #f1f4f7;
}
.Chat .chat-title i {
  padding-right: 15px;
  font-size: 30px;
}
.Chat .chat-messages {
  transition: 0.25s;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}
.Chat .chat-messages .message-container {
  min-height: 120px;
  border-right: 1px solid lightgray;
  padding: 15px;
  display: flex;
  align-items: center;
}
.Chat .chat-messages .message-container:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.Chat .chat-messages .message-container .picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 80px;
}
.Chat .chat-messages .message-container .picture .no-pic {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: orange;
}
.Chat .chat-messages .message-container .message-text {
  display: flex;
  flex-direction: column;
}
.Chat .chat-messages .message-container .message-text .top .username {
  color: #5f6468;
  padding-right: 5px;
  font-weight: bold;
}
.Chat .chat-messages .message-container .message-text .top .time {
  color: lightslategray;
  font-size: 12px;
}
.Chat .chat-messages .message-container .message-text .message {
  max-width: 500px;
  color: #5f6468;
}
.Chat .chat-send {
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  height: 65px;
  padding: 12px;
}
.Chat .chat-send input {
  padding: 0 15px;
  height: 100%;
  border: 2px solid #f1f4f7;
  -webkit-border-radius: 54px 0 0 4px;
  -moz-border-radius: 54px 0 0 4px;
  border-radius: 54px 0 0 4px;
  border-right: none;
  width: 100%;
}
.Chat .chat-send button {
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.25s;
  font-size: 16px;
  height: 100%;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: #8bda12;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 0 15px;
}
.Chat .chat-send button:hover {
  opacity: 0.8;
}
