.Widgets {
	.card {
		min-height: 100px;
		margin-bottom: 10px;
		.card-container {
			box-shadow: 0 0 14px -3px rgba(0, 0, 0, 0.25);
			.border-radius(4px);
			.flex-vertical-center();
			height: 100%;
			width: 100%;
			background-color: @default-background;
			flex-direction: column;
			@media screen and (min-width: 768px) {
				flex-direction: row;
			}
			.card-icon {
				padding: 15px 0;
				width: 100%;
				border-radius: 4px 4px 0 0;
				.flex-center();
				font-size: 50px;
				color: #fff;
				@media screen and (min-width: 768px) {
					padding: 0;
					.border-radius(4px 0 0 4px);
					width: 125px;
					height: 100%;
				}
				&.new-orders {
					background-color: @background-cards;
				}
				&.comments {
					> i {
						transform: scale(1.1, 1.2);
					}
					background-color: @background-comment-card;
				}
				&.new-users {
					background-color: @background-users-card;
				}
				&.page-views {
					background-color: @background-views-card;
				}
			}
			.card-data {
				.flex-vertical-center();
				flex-direction: column;
				padding: 15px;
				@media screen and (min-width: 768px) {
					align-items: flex-start;
				}
				.card-data-value {
					line-height: 0.8;
					font-size: 25px;
					font-size: 30px;
					.transition(.5s);
					color: #5f6468;
				}
				.card-data-title {
					color: @card-data-color;
				}
			}
		}
	}
}
